
.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgb(26, 25, 25);
    position: sticky;
    top: 0;
    z-index: 100;
}
.header_logo
{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 17px;
}
.header_search
{
    display: flex;
    flex: 1 ;
    align-items: center;

}
.header_search_icon
{
    background-color: #d58b4b;
    height: 20px !important;
}
.header_search_input
{
    border-radius: 2px;
    border: none;
    height: 19px;
    width: 100%;
}
.header_option
{
    display: flex;
    color: white;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;

}
.header_nev
{
    display: flex;
    justify-content: space-evenly;
}
.header_option_line1
{
    
    font-size: 10px;

}
.header_option_line2
{
    font-size: 13px;
    font-weight: bold;
}

.header_option_basket
{
    display: flex;
    color: aliceblue;
}
.header_basket_count
{
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}