.subtotal
{
   
    background-color: white;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
}
.sub_text
{
   font-weight: 500;
}
.check
{
   
   
}
.subtotal>button
{
    color: rgb(0 0 0);
    background-color: #efbb38;
    border-radius: 3px;
    border-color: #d39f08;
}
